{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4 ">Confirm Delete</h1>
    <p class="mb-4 font-large">Are you sure you want to delete the beverage entry for "{{ object }}"?</p>

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
            <h2 class="text-xl font-semibold mb-4">Confirm Deletion</h2>
            <p class="mb-4">Are you sure you want to delete the beverage entry for:</p>
            <ul class="list-disc list-inside mb-4">
                <li><strong class="font-medium">Type:</strong> {{ object.category }} - {{ object.subcategory }}</li>
                <li><strong class="font-medium">Date:</strong> {{ object.date|date:"Y-m-d" }}</li>
                <li><strong class="font-medium">Quantity:</strong> {{ object.quantity }}</li>
                <br>
                {% if additives %}
                    <div class="mb-3">
                        <p class="text-gray-700 font-medium"><strong>Additives:</strong></p>
                        <ul class="list-disc list-inside text-gray-600 font-medium">
                            {% for additive in additives %}
                                <li>{{ additive.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="mb-3">
                        <p class="text-gray-700 font-medium"><strong>Additives:</strong> <span class="font-medium">None</span></p>
                    </div>
                {% endif %}
                <br>
            {% if symptoms %}
                <div class="mb-3">
                    <p class="text-gray-700 font-medium"><strong>Symptoms:</strong></p>
                    <ul class="list-disc list-inside text-gray-600 font-medium">
                        {% for symptom in object.symptoms.all %}
                            <li>{{ symptom.get_symptoms_display }} - {{ symptom.get_severity_display }} - {{ symptom.get_timing_display }} {% if symptom.custom_symptoms %}<span class="text-xs text-gray-500">(Custom: {{ symptom.custom_symptoms }})</span>{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="mb-3">
                    <p class="text-gray-700 text-sm"><strong>Symptoms:</strong> <span class="font-medium">None</span></p>
                </div>
            {% endif %}
            </ul>
            <form method="post" class="flex space-x-4">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Confirm Delete
                </button>
                <a href="{% url 'beverage_entry_list' %}" class="bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center">
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}